<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {title:"Ask for morfi"}) %>
    <body>
       <div class="move_heade"><%- include('./partials/header') %></div>
    <main>    
        <div class="video">
            <!-- ===================CORTAR VIDEO====================== -->
            <video class="video_fondo" muted autoplay loop>
                 <source src="/video/video_index.mp4" type="video/mp4"> 
            </video>
            
            <div>
                <p class="welcome">BIENVENIDO A ASK FOR MORFI</p>
            </div>
            <!-- <div class="texto_reserva">
                <p>Prepárate para vivir una <br> experiencia gastronómica única</p>
            </div> -->
            <div class="barra_cool">
                
            </div>
        </div>
        <!-- --------------------------Sobre nosotros------------------------------------ -->
    <section class="nosotros" id="nosotros">
        <div class="about">

        <div class="text_about">
            <h2>ASK <br> FOR <br> MORFI <p>ES..</p></h2>
            <div class="div_text_somos">
                <p class="text_somos"> Un ecommerce gastronómico de delivery o pick up para todo público hambriento, 
                    desde "Cocina Gourmet de autor contemporánea" hasta el clásico "Milanesas con puré".</p>
                   <br> <p class="text_somos2"> Desde su apertura en 2018, ASK FOR MORFI ha evolucionado continuamente, y 
                    esta evolución más reciente ha culminado con su reinvención. <br>
                  <br> Nos esforzamos constantemente para encontrar nuevas formas de redefinir la experiencia gastronómica.<br>
                    <br>Contamos con productos artesanales, nada mecanizados, desde tu cóctel hasta tu barra de pan.</p>
            </div>
            <div class="vertical_nos">
                <p>NOSOTROS</p>
            </div>
        </div>

        <div class="cont_imgabout">
        <div class="img_about">
        </div>
        </div>

        </div>
        
    </section>
        <!-- ================================PARALLAX===================================== -->
        <section class="parallax">

        </section>


     <section>
        <div class="menues">
            <div class="img_menu">
                <img alt="Comida de restaurante" src="/img/comida1.jpg">
            </div>
            <div class="or_menu">
                <img alt="Comida de restaurante" src="/img/comida3.jpg">
            </div>
            <div class="titulo_menu">
                <h3>EL EQUIPO</h3>
        </div>
        <!-- ------------------------------------------CONOCE AL EQUIPO----------------------------------- -->   
        <div class="carrusel">
            <div class="grande">
                <div class="div_carrucel"> 
                    <h4 class="text_carrusel1">MARIO CAPONE, CULINARY DIRECTOR</h4>
                    <img src="/img/mario.jpg" alt="MARIO CAPONE, CULINARY DIRECTOR">
                    
                    <p class="parrafo_carrusel">Chef Mario has served as Executive Chef in some of the best-known and highest regarded restaurants in Boston, 
                        from Locke-Ober to Scampo to Towne. <br> His career began with chef Lydia Shire at Biba, 
                        followed by a stint at chef Daniel Boulud’s Daniel in New York City.<br>  
                        After Daniel, Mario relocated to Las Vegas where he ran multiple restaurants for Caesar’s
                        Palace before returning to his home state of Massachusetts.  <br>
                        As Executive Chef of The Bancroft, he led the culinary team to receive scores of accolades including <br>
                        Best New Restaurant (Boston Magazine), Best Burger in Boston (Boston Magazine), 
                        and a place on Thrillist’s list of the Top 31 Steakhouses in America.
                    </p>
                </div>
                <div class="div_carrucel">
                    <h4 class="text_carrusel2">SHEENA LAKE, GENERAL MANAGER</h4>
                    <img src="/img/Sheena1.jpg" alt="SHEENA LAKE, GENERAL MANAGER">
                    
                    <p class="parrafo_carrusel">Sheena Lake began working with Webber Restaurant Group in 2007, 
                        as part of the opening service team at Scarlet Oak Tavern. <br>
                        Fast forward to 2014, she was tapped to open The Bancroft as one of the opening managers. 
                        Sheena grew up in Whitman, MA, “home of the Tollhouse Cookie” and went to college with intentions of
                        taking over for Al Michaels on Monday Night Football.<br> However, 
                        Sheena really fell in love with the industry while working her way through school, 
                        realizing that every day offers a new experience and an opportunity to take part of a guests’ memories. <br>
                        Her favorite part of managing a restaurant is the look on a guest’s face when their menu item is placed in front of them.<br>
                        Fun facts: Sheena is sucker for anything 80’s pop culture and has a hard time choosing between tequila and whiskey.</p>
                </div>
    
                <div class="div_carrucel">
                    <h4 class="text_carrusel3">MARCELO PINEDA, EXECUTIVE SOUS CHEF</h4>
                    <img src="/img/marcelo.jpg" alt="MARCELO PINEDA, EXECUTIVE SOUS CHEF">
                    <p class="parrafo_carrusel">Chef Marcelo moved to Boston in 1998 from Medellin, Columbia.<br>
                        He began working in restaurant kitchens upon his arrival and worked hard learning 
                        from some of the best at Boston’s finest restaurants. <br> The chefs he worked for, recognized his 
                        potential and began mentoring him in supervisor and sous chef positions. <br> One of those chefs was our own,
                        Chef Mario Capone, who subsequently made Chef Marcelo the Executive Sous Chef of The Bancroft, leading the culinary 
                        team on day-to-day operations.<br>  When Chef Marcelo isn’t in the restaurant he enjoys gardening and cooking traditional 
                        Columbian food for his wife and family.</p>
                </div>
            </div>
            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
                <li class="punto"></li>
            </ul>
        </div>
    </div>
    </section>
    
     <!-- ================================PARALLAX===================================== -->
     <section class="parallax2">

    </section>

    <section>
                <!-- -----------------------------MENU----------------------------- -->
        <div class="menu_nuevo">
                <div class="cont_img_menu2">
                    <div class="img_menu2">
                    </div>
                </div>

                <div class="text_nuevomenu">
                    <h3>MENU</h3>
                </div>

                <div class="cont_img_comida6">
                <div class="img_comida6">

                </div>
                </div>

                <div class="text_ini_menu">
                    <h3>
                        En nuestro menu puedes encontrar lo mejor de la buena comida. 
                        Sin ser pretencioso.<br> Excepto quizás el de darle un duro golpe a tus papilas gustativas.<br>
                        Prepárate para vivir una experiencia gastronómica única.
                    </h3>

                   <a href="/products"> VER MENU</a>
                </div>

        </div>

    </section>

</main>
<%- include('./partials/footer') %> 
    <script src="/js/main.js"></script>
</body>
</html>