<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title:"Ask for morfi"}) %>
<body>
    <%- include('./partials/header') %>
<div class="misCompras">
    <div class="pedidos">
    <section>
        <h2>Bienvenido <%=usuarios.nombre %> </h2>
        <h3>Pedidos realizados</h3>
        <h4>Aun no has realizado pedidos</h4>
        
    </section>
    </div>
</div>
<%- include('./partials/footer') %> 
</body>
</html>