<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {title:"Ask for morfi"}) %>
    <body>
    <div class="move_heade"><%- include('./partials/header') %></div>
        
        <h4>Aun no has realizado pedidos, puedes ver el menu haciendo click<a href="/productos">aqui</a></h4>

    <%- include('./partials/footer') %> 
</body>
</html>